doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title
            Rando38
        link(href="/public/css/main.css" rel="stylesheet")
    body
        .container
            p=message
            button.btn.btn-primary(type="button") test de bouton

    script(src="/bootstrap/js/bootstrap.bundle.min.js")