extends layout

block content
    .row.align-items-center.my-4
        .col
            img(src="public/img/banner.svg", alt="Dessin d'une personne en randonnée" width="100%")
        .col
            h1 Bienvenue sur Rando38
            include ./partials/searchForm.pug

    h2 Randonnées à voir
    .row.row-cols-1.row-cols-md-3.g-4
        each hike in hikes
            .col
                include ./partials/hikeItem.pug
