extends layout

block content 

    h1 Connexion

    if alertMessage
        include ./partials/alertMessage.pug

    form(action="/login" method="POST")
        .mb-3 
            label.form-label(for="email") Adresse email
            input#email.form-control(name="email" value="admin@gmail.com")  
        .mb-3
            label.form-label(for="password") Mot de passe
            input#password.form-control(name="password" type="password" value="12345")
        
        .text-center    
            input.btn.btn-primary(type="submit" ,value="Connexion")