nav.navbar.navbar-expand-lg.bg-primary 
    .container
        a(href="/").nav-link.d-flex.align-items-center.navbar-brand
            img(src="/public/img/logo.svg", alt="logo" height="50" width="50").flex
            .flex.h3.text-uppercase.text-white Rando38

        
        ul.navbar-nav.list-inline
            li.nav-item
                a(href="/randonnees").nav-link.text-white Randonnées 
